In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
data = pd.read_csv("../Data/custom/data.csv")
data

                    0                         1  2
0      001/001_00.png            001/001_01.png  1
1      001/001_00.png            001/001_02.png  1
2      001/001_00.png            001/001_03.png  1
3      001/001_00.png            001/001_04.png  1
4      001/001_00.png            001/001_05.png  1
...               ...                       ... ..
85241  124/124_23.png  124_forg/124_forg_19.png  0
85242  124/124_23.png  124_forg/124_forg_20.png  0
85243  124/124_23.png  124_forg/124_forg_21.png  0
85244  124/124_23.png  124_forg/124_forg_22.png  0
85245  124/124_23.png  124_forg/124_forg_23.png  0

[85246 rows x 3 columns]

In [8]:
data['2'].value_counts()

2
1    42962
0    42284
Name: count, dtype: int64

In [10]:
train, test = train_test_split(data, test_size=0.2, shuffle=True, stratify=data['2'])
train, val = train_test_split(train, test_size=0.125, shuffle=True, stratify=train['2'])

In [12]:
train

                    0                         1  2
29804  101/101_03.png            101/101_22.png  1
79393  114/114_20.png  114_forg/114_forg_03.png  0
31136  103/103_13.png            103/103_20.png  1
15030  074/074_09.png            074/074_14.png  1
81592  118/118_15.png  118_forg/118_forg_18.png  0
...               ...                       ... ..
44980  013/013_10.png  013_forg/013_forg_02.png  0
52363  060/060_07.png  060_forg/060_forg_09.png  0
9777   048/048_07.png            048/048_02.png  1
4639   015/015_03.png            015/015_23.png  1
65727  091/091_02.png  091_forg/091_forg_17.png  0

[59671 rows x 3 columns]

In [13]:
train.reset_index(drop=True, inplace=True)
train

                    0                         1  2
0      101/101_03.png            101/101_22.png  1
1      114/114_20.png  114_forg/114_forg_03.png  0
2      103/103_13.png            103/103_20.png  1
3      074/074_09.png            074/074_14.png  1
4      118/118_15.png  118_forg/118_forg_18.png  0
...               ...                       ... ..
59666  013/013_10.png  013_forg/013_forg_02.png  0
59667  060/060_07.png  060_forg/060_forg_09.png  0
59668  048/048_07.png            048/048_02.png  1
59669  015/015_03.png            015/015_23.png  1
59670  091/091_02.png  091_forg/091_forg_17.png  0

[59671 rows x 3 columns]

In [14]:
test.reset_index(drop=True, inplace=True)
test

                    0                         1  2
0      120/120_09.png            120/120_13.png  1
1      094/094_15.png  094_forg/094_forg_14.png  0
2      121/121_06.png            121/121_14.png  1
3      115/115_17.png            115/115_04.png  1
4      071/071_20.png  071_forg/071_forg_21.png  0
...               ...                       ... ..
17045  037/037_04.png            037/037_11.png  1
17046  080/080_01.png            080/080_15.png  1
17047  081/081_01.png            081/081_19.png  1
17048  104/104_01.png            104/104_16.png  1
17049  076/076_01.png  076_forg/076_forg_08.png  0

[17050 rows x 3 columns]

In [15]:
val.reset_index(drop=True, inplace=True)
val

                   0                         1  2
0     077/077_18.png  077_forg/077_forg_19.png  0
1     117/117_06.png            117/117_10.png  1
2     014/014_04.png            014/014_13.png  1
3     075/075_21.png  075_forg/075_forg_08.png  0
4     060/060_08.png            060/060_09.png  1
...              ...                       ... ..
8520  033/033_00.png  033_forg/033_forg_04.png  0
8521  071/071_19.png            071/071_11.png  1
8522  111/111_04.png            111/111_21.png  1
8523  085/085_14.png  085_forg/085_forg_00.png  0
8524  096/096_15.png            096/096_18.png  1

[8525 rows x 3 columns]

In [18]:
train.to_csv("../Data/custom/train_data.csv", index=False)

In [19]:
a = pd.read_csv("../Data/custom/train_data.csv")
a

                    0                         1  2
0      101/101_03.png            101/101_22.png  1
1      114/114_20.png  114_forg/114_forg_03.png  0
2      103/103_13.png            103/103_20.png  1
3      074/074_09.png            074/074_14.png  1
4      118/118_15.png  118_forg/118_forg_18.png  0
...               ...                       ... ..
59666  013/013_10.png  013_forg/013_forg_02.png  0
59667  060/060_07.png  060_forg/060_forg_09.png  0
59668  048/048_07.png            048/048_02.png  1
59669  015/015_03.png            015/015_23.png  1
59670  091/091_02.png  091_forg/091_forg_17.png  0

[59671 rows x 3 columns]

In [2]:
data = pd.read_csv("../Data/custom/train_data.csv")
data

                    0                         1  2
0      110/110_02.png  110_forg/110_forg_14.png  0
1      086/086_01.png            086/086_04.png  1
2      083/083_17.png  083_forg/083_forg_02.png  0
3      103/103_22.png  103_forg/103_forg_07.png  0
4      097/097_03.png            097/097_21.png  1
...               ...                       ... ..
59666  072/072_04.png  072_forg/072_forg_14.png  0
59667  069/069_05.png  069_forg/069_forg_07.png  0
59668  016/016_10.png            016/016_12.png  1
59669  120/120_23.png            120/120_02.png  1
59670  094/094_10.png  094_forg/094_forg_06.png  0

[59671 rows x 3 columns]

In [4]:
used, unused = train_test_split(data, test_size=0.5, shuffle=True, stratify=data['2'])

train_used, test_used = train_test_split(used, test_size=0.2, shuffle=True, stratify=used['2'])
train_used, val_used = train_test_split(train_used, test_size=0.125, shuffle=True, stratify=train_used['2'])

In [9]:
train_used.reset_index(drop=True, inplace=True)
train_used

                    0                         1  2
0      116/116_22.png            116/116_20.png  1
1      009/009_01.png            009/009_13.png  1
2      073/073_19.png  073_forg/073_forg_09.png  0
3      108/108_03.png  108_forg/108_forg_04.png  0
4      108/108_03.png            108/108_08.png  1
...               ...                       ... ..
20879  044/044_03.png            044/044_09.png  1
20880  100/100_14.png  100_forg/100_forg_05.png  0
20881  102/102_16.png  102_forg/102_forg_13.png  0
20882  020/020_05.png            020/020_01.png  1
20883  056/056_07.png            056/056_04.png  1

[20884 rows x 3 columns]

In [10]:
test_used.reset_index(drop=True, inplace=True)
test_used

                   0                         1  2
0     091/091_02.png  091_forg/091_forg_06.png  0
1     047/047_08.png  047_forg/047_forg_10.png  0
2     076/076_23.png            076/076_01.png  1
3     105/105_16.png  105_forg/105_forg_16.png  0
4     089/089_18.png            089/089_11.png  1
...              ...                       ... ..
5962  074/074_09.png  074_forg/074_forg_06.png  0
5963  075/075_11.png            075/075_07.png  1
5964  099/099_22.png            099/099_12.png  1
5965  073/073_15.png  073_forg/073_forg_07.png  0
5966  110/110_14.png  110_forg/110_forg_07.png  0

[5967 rows x 3 columns]

In [11]:
val_used.reset_index(drop=True, inplace=True)
val_used

                   0                         1  2
0     079/079_01.png  079_forg/079_forg_13.png  0
1     120/120_03.png  120_forg/120_forg_03.png  0
2     072/072_06.png  072_forg/072_forg_16.png  0
3     123/123_12.png  123_forg/123_forg_13.png  0
4     107/107_02.png            107/107_03.png  1
...              ...                       ... ..
2979  086/086_06.png            086/086_02.png  1
2980  079/079_14.png  079_forg/079_forg_07.png  0
2981  095/095_01.png            095/095_03.png  1
2982  051/051_07.png  051_forg/051_forg_01.png  0
2983  124/124_13.png  124_forg/124_forg_19.png  0

[2984 rows x 3 columns]

In [12]:
train_used.to_csv("../Data/custom/used data/train.csv", index=False)
test_used.to_csv("../Data/custom/used data/test.csv", index=False)
val_used.to_csv("../Data/custom/used data/val.csv", index=False)

In [15]:
type(train_used.iat[4,2])

numpy.int64

In [16]:
a = pd.read_csv("../Data/custom/used data/train.csv")
a

       Unnamed: 0               0                         1  2
0               0  116/116_22.png            116/116_20.png  1
1               1  009/009_01.png            009/009_13.png  1
2               2  073/073_19.png  073_forg/073_forg_09.png  0
3               3  108/108_03.png  108_forg/108_forg_04.png  0
4               4  108/108_03.png            108/108_08.png  1
...           ...             ...                       ... ..
20879       20879  044/044_03.png            044/044_09.png  1
20880       20880  100/100_14.png  100_forg/100_forg_05.png  0
20881       20881  102/102_16.png  102_forg/102_forg_13.png  0
20882       20882  020/020_05.png            020/020_01.png  1
20883       20883  056/056_07.png            056/056_04.png  1

[20884 rows x 4 columns]